# Non Graded Challenge : DDL, DML, and Basic DQL

# Task
This Non-Graded Challenge is done in notebook format with several mandatory criteria as follows:
1. The library used is Pandas.
2. The project is considered complete and ready for assessment if, when "Run All" is executed in the notebook, all cells successfully run to the end.
3. The notebook's content should follow the outline below:

This section contains the queries that have been created and the data loading process, followed by simple data exploration.


a. Introduction, The introduction section must contain the identity, background of the problem, and the problem statement to be discussed.

=================================================

Non Graded Challenge 2

Nama  : Gerwyn Zulqarnain
Batch : HCK-021

Program ini dibuat untuk melakukan evaluasi konsep relational database danpandas.

=================================================

DataFrame ini adalah pendataan kasus penyakit yang menyebar di suatu daerah yang bertujuan untuk melihat penyebaran penyakit dan berapa banyak yang terjangkit oleh penyakit tersebut.

b. Import necessary libraries, The first cell in the notebook must contain and only contain all the libraries used in the project.

In [93]:
import pandas as pd


c. Data Loading

In [94]:
df = pd.read_csv('https://github.com/FTDS-learning-materials/phase-0/raw/main/src/data_ngc.csv')
df.head()

,province_state,country_region,date,latitude,longitude,location_geom,confirmed,deaths,recovered,active,fips,admin2,combined_key
0,NaN,Malaysia,2020-03-08,2.5000,112.5000,POINT(112.5 2.5),99.0,0.0,24.0,NaN,NaN,NaN,NaN
1,NaN,Malaysia,2020-03-10,2.5000,112.5000,POINT(112.5 2.5),129.0,0.0,24.0,NaN,NaN,NaN,NaN
2,NaN,Singapore,2020-03-13,1.3521,103.8198,POINT(103.8198 1.3521),200.0,0.0,97.0,NaN,NaN,NaN,NaN
3,NaN,Malaysia,2020-03-13,4.2105,101.9758,POINT(101.9758 4.2105),197.0,0.0,26.0,NaN,NaN,NaN,NaN
4,NaN,Malaysia,2020-03-15,4.2105,101.9758,POINT(101.9758 4.2105),428.0,0.0,42.0,NaN,NaN,NaN,NaN

d. Data Cleaning, 

This section contains the data preparation process, such as data cleaning, before further data exploration. The cleaning process may include assigning new names to each column, filling in missing values, deleting unused columns, and so on.

In [95]:
df = df.drop(['fips', 'admin2', 'recovered', 'active', 'location_geom','combined_key'],axis=1)
df = df.dropna()
df['date'] = pd.to_datetime(df['date'])
df['active_case'] = df['confirmed'] - df['deaths']

e. Data Exploration, 

This section contains data exploration on the dataset above using queries, grouping, and so on.

In [96]:
confirmed_data = df.groupby(['country_region', 'province_state']).confirmed.sum()
confirmed_data

country_region  province_state
Malaysia        Johor                183340114.0
                Kedah                140587320.0
                Kelantan             119538703.0
                Melaka                61011677.0
                Negeri Sembilan       98025611.0
                Pahang                79664464.0
                Perak                101376931.0
                Perlis                 7779846.0
                Pulau Pinang         133675698.0
                Sabah                182989419.0
                Sarawak              155701847.0
                Selangor             655172587.0
                Terengganu            60051309.0
                W.P. Kuala Lumpur    186055777.0
                W.P. Labuan            9945442.0
                W.P. Putrajaya        11009837.0
Name: confirmed, dtype: float64

In [97]:
deaths_data = df.groupby(['country_region', 'province_state']).deaths.sum()
deaths_data

country_region  province_state
Malaysia        Johor                2461677.0
                Kedah                1443311.0
                Kelantan              804498.0
                Melaka                631648.0
                Negeri Sembilan       856382.0
                Pahang                535045.0
                Perak                1024163.0
                Perlis                 92335.0
                Pulau Pinang         1123191.0
                Sabah                1769180.0
                Sarawak              1029862.0
                Selangor             6213502.0
                Terengganu            464353.0
                W.P. Kuala Lumpur    1650447.0
                W.P. Labuan            91945.0
                W.P. Putrajaya         21586.0
Name: deaths, dtype: float64

In [98]:
active_case = df.groupby(['country_region','province_state'])['active_case'].sum()
active_case

country_region  province_state
Malaysia        Johor                180878437.0
                Kedah                139144009.0
                Kelantan             118734205.0
                Melaka                60380029.0
                Negeri Sembilan       97169229.0
                Pahang                79129419.0
                Perak                100352768.0
                Perlis                 7687511.0
                Pulau Pinang         132552507.0
                Sabah                181220239.0
                Sarawak              154671985.0
                Selangor             648959085.0
                Terengganu            59586956.0
                W.P. Kuala Lumpur    184405330.0
                W.P. Labuan            9853497.0
                W.P. Putrajaya        10988251.0
Name: active_case, dtype: float64

f. ConclusionIn this final section 

there must be conclusions that reflect the results obtained by comparing them with the problem statement written in the introduction section.

Kesimpulan : masih banyak penderita aktif yang terjangkit penyakit di malaysia